
#map-container {
    height:60vh;
}

@media (min-width: 768px) {
    #map-container {
        height: calc(
            60vh - var(--mat-toolbar-standard-height)
          )
    }
}


#caroussel-container {
    height: calc(
        40vh - var(--mat-toolbar-standard-height)
      ); 
}


@media (min-width: 768px) {
    #steps-container {
        height: calc(
            100vh - var(--mat-toolbar-standard-height)
          );
        overflow-y: scroll;
    }
}

#travel-container {
    display: none;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 500;
}
@media (min-width: 768px) {
    #travel-container {
        display: block;
    }
}



.inner-card {
    padding: 3px 10px 0px 10px;
}

.bold {
    font-weight: bold;
}




.cover {
    position: relative;
}

.left {
    z-index:1000;
    position: absolute;
    left: 1%;
    top: 35%;
}

.right {
    z-index:1000;
    position: absolute;
    right: 1%;
    top: 35%;
}

.step-card {
    height: 98%;
    opacity: 92%;
}

.step-card:hover {
    opacity: 100%;
}

.caroussel {
    display: flex;
    overflow-x: auto;
    position: relative;
    height: 95%;
}

.caroussel mat-card {
    margin-right: 15px;
}



#travel-card {
    height: 30vh;
}


.height-100 {
    height: 100%;
}

.step-img {
    height: 80%;
}

.float-info {
    width: 100%;
    position: absolute;
    color: white;
    cursor: pointer;
}

.travel-img {
    cursor: pointer;
}


.step-info-overlay {
    border-radius: var(--mdc-elevated-card-container-shape, var(--mat-app-corner-medium));
    padding-top:0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.596));
}