<div id="map-container">
    <div id="travel-container">
        <mat-card id="travel-card">
            <img class="travel-img" style="height: 80%;" #img mat-card-image src="{{travel.main_photo}}" alt="">
            <div class="inner-card ">
                <span  class="icon-text bold" >
                    <mat-icon>explore</mat-icon>
                    {{travel.name}} <br>
                </span>
                <span class="icon-text text-muted">
                    <mat-icon>edit</mat-icon>
                    {{travel.description}}
                </span>
            </div>
        </mat-card>
    </div>
      <app-map [geojson]="travel.steps" [pointToLayer]="pointToLayer.bind(this)"  ></app-map>

</div>




<div id="caroussel-container" class="cover caroussel-block mt-2">
        <button (click)="moove(-400)" class="left"  mat-mini-fab>
            <mat-icon>chevron_left</mat-icon>
        </button>

    <div class="caroussel height-100"  #slider > 
    @for (step of travel?.steps?.features; track step.id) {
        <mat-card class="step-card">
            <img class="travel-img" (click)="goToDetail(step.id)" style="height: 80%;" #img mat-card-image src="{{step.properties.first_media?.media_file}}" alt="">
            <div class="float-info">
                <div class="info-overlay">
                    <h4> {{step.properties.name}} </h4>
                    <span> {{step.properties.country}}  </span>

                </div>
            </div>

            <mat-card-actions>
                <span class="me-4 icon-text">
                    <mat-icon >chat</mat-icon> <span class="text-muted"> {{step.properties.comments.length}} </span> 
                </span>
                <span class="me-4">
                    <mat-icon >photo_camera</mat-icon> <span class="text-muted"> {{step.properties.medias.length}} </span> 
                </span>
                <span class="me-4">
                    <mat-icon >calendar_month</mat-icon> <span class="text-muted"> {{step.properties.date  |date: 'dd MMM yyyy' }} </span> 
                </span>

                <button (click)="zoomOnLayer(step.id)" mat-mini-fab class="icon-text" >
                    <mat-icon >map</mat-icon>
                  </button>
                <button style="display: none;"  mat-flat-button>  test</button>
            </mat-card-actions>
                
        </mat-card>
    }
    
    </div>
        <button (click)="moove(400)" class="right"  mat-mini-fab>
            <mat-icon>chevron_right</mat-icon>
        </button>
</div>
    
