
#map-container {
    height:60%;
}

#caroussel-container {
    height: 38%
}



#travel-container {
    display: none;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 500;
}
@media (min-width: 768px) {
    #travel-container {
        display: block;
    }
}

#nb-photos, #nb-comments {
    display: none;
}

// #nb-comments {
//     display: none;
// }

@media (min-width: 768px) {
    #nb-photos, #nb-comments {
        display: block;
    }
}



.inner-card {
    padding: 3px 10px 0px 10px;
}

.bold {
    font-weight: bold;
}




.cover {
    position: relative;
}

.left {
    z-index:1000;
    position: absolute;
    left: 1%;
    top: 35%;
}

.right {
    z-index:1000;
    position: absolute;
    right: 1%;
    top: 35%;
}

.step-card {
    height: 98%;
    opacity: 92%;
}

.step-card:hover {
    opacity: 100%;
}

.caroussel {
    display: flex;
    overflow-x: auto;
    position: relative;
    height: 95%;
    padding: 1rem;
}

.caroussel mat-card {
    margin-right: 15px;
}


mar-card-actions {
   font-size: 0.1rem; 
}

.size {
    font-size: 1rem;
}

#travel-card {
    height: 30vh;
}


.height-100 {
    height: 100%;
}

.step-img {
    height: 80%;
}

.float-info {
    width: 100%;
    position: absolute;
    color: white;
    cursor: pointer;
}

.travel-img {
    cursor: pointer;
}
