# =============================================================================
#  .env.example — copy to .env and fill in your values
#
#  All variables with :? are REQUIRED.
#  Variables with :- have defaults and are optional.
# =============================================================================

# which environement to start (prod or dev)
APP_ENVIRONMENT=dev

# ── Database ──────────────────────────────────────────────────────────────────
DB_NAME=openstepdb
DB_USER=geonatadmin
DB_HOST=db
# REQUIRED — choose a strong password
DB_PASSWORD=monpassachanger

# ── Django ────────────────────────────────────────────────────────────────────
# REQUIRED — generate with: python -c "; print(get_random_secret_key())"
DJANGO_SECRET_KEY=changeme-generate-a-real-secret-key
DJANGO_PORT=8000

# ── Frontend ──────────────────────────────────────────────────────────────────
# API endpoint for the frontend (used to generate config.json). -> public URL of the backend, use by the frontend to call API
API_ENDPOINT=http://127.0.0.1:8000
# Application name
APP_NAME=OpenStep
#only in dev
FRONTEND_PORT=4200

# PROD DEPLOY
DOMAIN=mydomain.fr
TRAEFIK_ACME_EMAIL=monemail@yes.com


COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml