
  
    <div class="row">
      <div class="col-12 col-md-9 order-md-2">
        <app-map></app-map>
      </div>
      <div class="col-12 col-md-3 order-md-1">
        @for (travel of travels; track travel.id) {

          <a [routerLink]="['travel', travel.id]" routerLinkActive="active">
            <div class="travel-container mt-2" >
              <div class="img-container" style="background-image: url({{travel.main_photo}});">
                
              </div>
    
              <div class="overlay">
                <h2> {{travel.name}} </h2>
                <p> {{travel.description}} </p>
              </div>
  
            </div>
          </a>
        }
      </div>
    </div>
