mat-toolbar {
    border-bottom: solid 1px var(--mdc-filled-button-container-color);
}

#my-container {
    height: calc(
        100vh - var(--mat-toolbar-standard-height)
      )
}

.container {
    width: 100%;
    max-width: 100%!important;
}

#app-name {
    cursor: pointer;
}