#map-container {
    height: 20% ;
}

@media (min-width: 768px) {
    #map-container {
        height: 100% ;
    }
}

.mat-list-item.mat-list-item-word-wrap {
    height: initial !important;
  }
  .mat-list-item-word-wrap .mat-line {
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
  }

#detail-container {
    height: 80% ;
    overflow-y: auto;
}

@media (min-width: 768px) {
    #detail-container {
        height: 100% ;
    }
}

.description-padding {
    padding: 0.5rem 1rem 0rem 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
}


.step-img {
    // height: fit-content; //so that it takes up full space
//     max-height: 20vh !important; // this prevents the image from being extremely big
//     object-fit: cover; 
//     object-position: center

}